// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.register, .login {
    display: inline-block;
    border: 1px solid grey;
    vertical-align: top;
    padding: 8px;
    margin: 8px;
}
.register p, .login p {
    text-align: right;
}
